* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
}

body {
    line-height: 1,6;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(1, 3, 11);
    color: #B9B4E8;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #24204A;
    color: #B9B4E8;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 5px solid;

}

header a {
    background: #24204A;
    color: #B9B4E8;
    padding-top: 30px;
    min-height: 70px;
    font-size: 18px;
   
}

h1 {
    padding: 0;
    text-align: center;
    list-style: none;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    
}

header ul {
    padding: 0;
    text-align: center;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
    
}

header .container::after {
    content: "";
    display: table;
    clear: both;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #24204A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

#hero {
    background: url('img/background.jpg') no-repeat center center/cover;
    color: #fff ;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 38px;
    justify-content: center;
    flex-direction: column;
}

#hero h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 80 px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#hero .btn {
    font-size: 18px;
    color: #fff;
    background: #24204A;
    padding: 15px 15px;
    text-decoration:solid;
    border-radius: 45px;
    
}

#hero .btn:hover{
    background: #5599ee;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

#about p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    color: #ffff;
    font-size: 18px;
    margin: auto;
    line-height: 1.6;
}

#projects .project {
    display: flex;
    background: f4f4f4;
    color: #fff;
    padding: 20px;
    margin-bottom: 20 px;
    border-radius: 5 px;
    border: 1px solid #8776CB
}

#projects .project img{
    max-width: 250px;
    margin-right: 40px;
    border-radius: 15px;
}

#projects .project .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects .project h3 {
    margin-bottom: 15px;
}

#projects .project p {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form label {
    font-size: 18px;
    margin-bottom: 15px;
}

#contact form input,
#contact form textarea {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

#contact form input[type="submit"] {
    background: #24204A;
    color: #ddd;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

#contact form input[type="submit"]:hover {
    background: #5599ee;
}

#formContainer {
    padding: 0;
    text-align: center;
    
}


#elementToStyle {
    background: #5f53cd;
    margin-top: 20px;
    width: 300px;
    text-align: center;
}

footer {
    background: #24204A;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
}


